@charset "utf-8";

/* CSS Document */
body {
	margin: 0px;
	background: #dfe4e3;
	color: #535252;
	font-family: Verdana;
	font-size: 11px;
	/*overflow-x: hidden;
*/}
body.video {
	background: #000000;
}

#blog #menu {overflow: hidden;}

h1,h2,h3,h4,h5,h6{
margin:0;
}
h1{
	font-size: 30px;
	margin:0;
    font-family: SketchRockwell;
	text-shadow: 2px 5px 27px rgba(178, 0, 255, 0.78);

}
h1:hover{
	/**/
}

a{ color: #2b2b2b; outline: none; }
a:focus, a:visited{ outline: none;}
a:hover, a:active { outline: none; }


h2, .carouselHome .more{
	color: #2b2b2b;
	font-family: 'SketchRockwell', Arial;
	font-size: 20px;
	font-weight: normal;
}
h2.link{
	color: #4a4a4a;
	font-size: 14px;
	text-decoration:underline;
	margin-top: 14px;
}
.red{
	color: #ee2e30;
}
div.all {
	background: #ecf7f7; 
	width: 100%;
    overflow-x: hidden;
}
div#header {
	width: 100%;
	height: 72px;
	background: #ecf7f7 url(/images/bgr_header.gif) bottom left repeat-x;
}
div.headerFix {
	width: 982px;
	height: 72px;
	margin: auto;
	position: relative;
	background:  #ecf7f7; /*#ecf7f7 url(/images/bgr_header.gif) bottom left repeat-x;*/
}
div.logo {
	position: absolute;
	top: 0px;
	left: 0px;
}
div.logo img {
	border: none;
	margin-top: 3px;
}
div.mainNav {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 700px;
	display: inline;
	text-align: right;
}
div.mainNavBgr {
	width: auto;
	display: inline-block;
	text-align: right;
	background: url(/images/bgr_header_white.gif) bottom left repeat-x;
	padding: 0 2px;
	float: right;
}

div.mainNav ul {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
div.mainNav ul li {
	display: inline !important;
	padding: 0px;
	margin: 0px;
}
div.mainNav ul li a {
	padding: 0 15px 0 15px;
	margin: 0px;
	background: url(/images/bgr_header.gif) bottom left repeat-x;
	text-decoration: none;
	color: #505050;
	font-family: 'SketchRockwell';
	font-size: 18px;
	text-transform: uppercase;
}
div.mainNav ul li a:hover {
	background: url(/images/bgr_header_graffit.gif) bottom left repeat-x;
}
div.mainNav ul li a.active {
	background: url(/images/bgr_header_graffit.gif) bottom left repeat-x;
	color: #000000;
}
div#content {
	width: 982px;
	background: #ecf7f7;
	min-height: 300px;
	margin: 0 auto;
	padding-top: 20px;
}
div.carouselHome {
	height: 600px;
	-webkit-font-smoothing: antialiased;
	visibility: hidden;
    width:auto;
    position:relative;
    left: 13%;


}
div.carouselHome img{
	position:absolute;
	top:10%;
	right:10%;
	/*margin-right:-400px;*/
}
div.carouselHome .more {
	margin-top:25px;
	font-size: 17px
}
div.carouselHome .more img{
	position: static
}

div.carouselHome a{
	font-size: 24px;
	color:#333;
	display: block;
	height:440px;
	width:982px;
	z-index:100;
	position:absolute;
	right:2px;
	top:0;
}

div.carouselHome div.text1{
	padding-top:70px;
	padding-left:30px;
	-webkit-font-smoothing: antialiased;
	width: auto !important;
}
div.carouselHome div.text2{
	padding-top:250px;
	padding-left:30px;
	-webkit-font-smoothing: antialiased;
	width: auto !important;
}
div.carouselHome div.text3{
	padding-top:130px;
	padding-left:30px;
	-webkit-font-smoothing: antialiased;
	width: auto !important;
}
div.carouselHome div.text4{
	padding-top:50px;
	padding-left:30px;
	-webkit-font-smoothing: antialiased;
	width: auto !important;
}
div.carouselHome div.text5{
	padding-top:140px;
	padding-left:30px;
	-webkit-font-smoothing: antialiased;
	width: auto !important;
}

div.carouselHome a.slide_video{top:-70px}
div.carouselHome img.slide_video_img{top:-70px}

div.carouselHome div h1, div.carouselHome div h2{
	text-transform: uppercase;
}
div.carouselHome div h2.link{
	text-transform: none;
}


div.serv a img {
	border: none;
}

div.servL {
	float: left;
	margin: 6px 0 0 13px;
}

div.servR {
	float: right;
	margin-right: 13px;
}

a.requestProposal {
	padding: 8px 18px;
	border-top: 1px solid #f4797a;
	border-right: 1px solid #e82d2f;
	border-bottom: 1px solid #b72325;
	border-left: 1px solid #e82d2f;
	border-radius: 3px;
 
 	/* fallback */
  background-color: #ee2e30;
  background: url(/images/bgr_butt.jpg);
  background-repeat: repeat;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ee2e30), to(#ee2e30));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ee2e30, #ee2e30);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ee2e30, #ee2e30);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #ee2e30, #ee2e30);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ee2e30, #ee2e30);
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-weight: 12px;
	letter-spacing: .1em;
}

a.requestProposal:hover {
	color: #f2f2f2;
	border-top: 1px solid #f4797a;
	border-right: 1px solid #e82d2f;
	border-bottom: 1px solid #b72325;
	border-left: 1px solid #e82d2f;
		/* fallback */
  background-color: #ee2e30;
  background: url(/images/bgr_butt_over.jpg);
  background-repeat: repeat-x;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d3292b), to(#ef3e40));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ef3e40, #d3292b);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ef3e40, #d3292b);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #ef3e40, #d3292b);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ef3e40, #d3292b);
}

div.servR img {
	border: none;
}

div.presentCS{
	height: 440px;
	text-align: center;
}
div.presentCS img{
	border: none;
}
div.presentCS div{
	width:982px;
	height:440px;
	position:absolute;
	top:0;
	left:2000px;
	display:block;
}
div.presentCS div span.text{
	width:330px;
	height:390px;
	float:right;
	padding:0 15px 15px;
	text-align:left;
}
div.presentCS div span.text h1{
	color: #ee2e30;
	font-size: 22px;
	margin-bottom:10px;
}
div.presentCS div span.text h2{
	color: #525252;
	font-size: 14px;
}
div.presentCS div span.text p{
	color: #525252;
	font-size: 11px;
	margin-top:4px;
	border-bottom: solid 1px #dadada;
	padding-bottom:5px;
	display:block;
	line-height: 1.15em;
	position: relative;
}

div.presentCS .video_button {width: 98px;height: 22px;display: block;position: absolute;right: 23px;top: -4px;}
div.presentCS .video_button.second {top:30px;}

div.presentCS div span.text p.last{
	border-bottom: none !important;
}
div.presentCS div span.text p.video a {
	text-decoration: none;
	display: block;
}
div.presentCS div span.text p.video a img {
	float: left;
	margin-right: 8px;
}
div.presentCS div span.text p.video a:hover {
	text-decoration: underline;
}
div.presentCS span.links a{
	font-size: 14px;
	font-weight:bold;
	text-decoration:underline;
	float:left;
	width:200px;
	color:#ee2e30;
	bottom:0;
}
div.presentCS span.links a:hover{
	text-decoration:none;
}
div.presentCS span.links{
	width:982px;
	height:30px;
	clear:both;
	display:block
}
div.presentServices{
	height: 510px;
	text-align: center;
}
div.presentServices img{
	border: none;
}

.carouselWork {
	height: 128px;
	overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
	height: 108px;
	overflow: hidden;
}

.jcarousel-skin-tango li {
	display: inline-block;
}

.jcarousel-skin-tango li a {
	display: inline-block;
}

.jcarousel-skin-tango li a img {
	width: 177px;
	height: 108px;
	border: none;
}

div.hrDiv {
	height: 11px;
	background: url(/images/hor_divider.gif) center center no-repeat;
}
div.clientsL {
	text-align: center;
	height: 79px;
	/*background: url(../images/clients_logos.jpg) center center no-repeat;*/
}
div.clientsL img {
	border: none;
	/*border: 1px solid red;
	margin: 0 6px;*/
}

div.about h1 {
	font-size: 18px;
}

div.about h2 {
	font-size: 18px;
}

div.about h2.passion {
	color: #ee2e30;
}

div.aboutMenu {
	width: 220px;
	float: left;
	font-size: 16px;
}

div.aboutMenu span {
	font-weight: bold;
	font-size: 16px;
}

div.aboutMenu ul {
	list-style: none;
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 14px;
	padding-left: 0px;
	border-bottom: 1px solid #ee2e30;
}

div.aboutMenu ul li {
	list-style: none;
	margin-bottom: 4px;
	margin-left: 18px;
}

div.aboutMenu ul li a {
	text-decoration: none;
}

div.aboutMenu ul li a:hover {
	text-decoration: underline;
	color: #ee2e30;
}

div.aboutMenu ul li a.active {
	color: #ee2e30;
}

div.aboutMenu ul li a.active:hover {
	text-decoration: none;
}

div.aboutContent {
	width: 720px;
	float: right;
}

div.dandelion {
	background: url(/images/dandelion.png) bottom left no-repeat;
}

div.dandLeft {
	width: 270px;
	float: left;
	margin-top: 20px;
}

div.dandLeft span {
	
}

div.dandRight {
	width: 430px;
	float: right;
	margin-bottom: 20px;
	background:url(../images/bgr_transp.png) repeat;
}

div.dandRight span {
	display: block;
	margin: 20px 20px 20px 37px;
}

div.dandRight span p.info {
	font-size: 10px;
}
div.hrDivS {
	height: 1px;
	background: url(/images/hr_about.png) center center no-repeat;
	margin: 12px 0;
}

div.aboutContentLeft {
	width: 670px;
	float: left;
/*	margin-top: 20px;*/
	margin-left: 30px;
}

div.rightGrey {
	width: 220px;
	float: right;
	background: #eeeeee;
	padding: 20px;
	/*margin-top: 20px;*/
	margin-bottom: 20px;
}

iframe.contactUs {
	display: block;
	width: 651px;
	height: 489px;
}

form.feedback_impl input {
width: 380px;
font-size: 12px;
color: #535252;
}
form.feedback_impl input.chkb {
width: 20px;
font-size: 11px;
}
form.feedback_impl textarea {
	width: 380px;
	font-size: 12px;
	
	color: #535252;
}
div#footer{
  /*border-top: 1px solid #d3d1d1;
  border-bottom: 1px solid #ababab;*/
	/* fallback */
  background-color: #bfeaeb; /*#e3e3e3;*/
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dff8f8), to(#bfeaeb)); 
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #dff8f8, #bfeaeb);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #dff8f8, #bfeaeb);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #dff8f8, #bfeaeb);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #dff8f8, #bfeaeb);
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#bfeaeb');
}
div.footerFix {
	width: 982px;
	margin: auto;
	/*border-top: 1px solid #d3d1d1;
  border-bottom: 1px solid #ababab;*/
	/* fallback */
  background-color: #c5eeec; /*#e3e3e3;*/
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dff8f8), to(#bfeaeb)); 
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #dff8f8, #bfeaeb);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #dff8f8, #bfeaeb);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #dff8f8, #bfeaeb);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #dff8f8, #bfeaeb);
}
div.footerLeft {
	float: left;
	width: auto;
	display: inline-block;
	margin-left: 20px;
	margin-top: 5px;
}
div.footerLeft div {
	float: left;
	margin-top: 15px;
}
div.footerLeft div.title {
	width: 80px;
	font-weight: bold;
}
div.footerLeft div.links {
	width: 100px;
	margin-top: 26px;
	margin-right: 10px;
	/*border-top: 2px solid #afafaf;*/
	padding-left: 3px;
}
div.footerLeft div.links ul {
	margin: 0px;
	padding: 0 0 16px 0;
	list-style: none;
}
div.footerLeft div.links ul li {
	display: block;
	margin-top: 8px;
	padding-left: 16px;
	background: url(/images/angle_li_grey.png) center left no-repeat;
}
div.footerLeft div.links ul li a {
	color: #6c6c6c;
	text-decoration: none;
}
div.footerLeft div.links ul li a:hover {
	text-decoration: underline;
}
div.footerLeft div.news {
	width: 370px;
	margin-top: 26px;
	margin-right: 20px;
	/*margin-left: 23px;
	border-left: 1px solid #afafaf;*/
	padding-left: 3px;
}
div.footerLeft div.news ul {
	margin: 0px;
	padding: 0 0 6px 0;
	list-style: none;
}
div.footerLeft div.news ul li {
	margin-top: 8px;
	padding-left: 16px;
	background: url(/images/plus_li_grey.png) center left no-repeat;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.footerLeft div.news ul li a {
	color: #6c6c6c;
	text-decoration: none;
}
div.footerLeft div.news ul li a:hover {
	text-decoration: underline;
}
div.footerRight {
	float: right;
	width: 270px;
	display: inline-block;
	margin-top: 0;
	margin-right: 20px;
	text-align: right;

}
div.footerRight div.social a {
	margin-left: 1px;
	float: left;
}
div.footerRight div.social {
	padding-left: 10px;
	float:right;
}
div.footerRight div.social a img {
	border: none;
}
div.footerRight div.copyright {
	font-size: 10px;
	float: right;
	margin: 20px 0;
}
div.footerRight div.copyright span {
	font-size: 12px;
	font-weight: bold;
	line-height: 25px;
	padding: 8px 0 4px 30px;
}
div.footerExt {
	width:auto;
	margin: auto;
	color: #999999;
	padding-top: 4px;
	padding-bottom: 6px;
	font-size: 10px;
    background-color: #dfe4e3;

}
div.footerExtLeft {
	width: auto;
	margin-left: 20px;
	float: left;
}
div.footerExtLeft a {
	color: #999999;
}
div.footerExtRight {
	width: auto;
	margin-right: 20px;
	float: right;
}
div.clear {
	clear: both;
	height: 1px;
}

span.cleaner {display:block;clear:both;content:'.';visibility:hidden;height:0;font-size:0;line-height:0}
/* Control Nav */
.control-nav {
margin: 0;
padding: 0;
list-style:none;
z-index:101;
position:absolute;
/*top:512px;*/
top:440px;
}
